# Core dependencies
numpy==1.23.3
scipy==1.9.1
pandas==1.5.0
pathcensus==0.1
matplotlib==3.6.0
seaborn==0.12.0
statannotations==0.4.4
scikit-learn==1.1.2
python-igraph==0.10.1
natsort==8.2.0
adjustText==0.7.3
zstandard==0.18.0

# Local package
-e .

# Notebooks
ipython>=7.22
ipdb>=0.13
jupyterlab>=3.2
ipywidgets>=7.6
